.share-icons
    a.share-icons__item
        img(src="./img/icons/social/whatsapp.svg", alt="", width="21") 
    a.share-icons__item
        img(src="./img/icons/social/instagram.svg", alt="", width="19")
    a.share-icons__item
        img(src="./img/icons/social/twitter.svg", alt="", width="21")
    a.share-icons__item
        img(src="./img/icons/social/facebook-f.svg", alt="", width="12")