.copyright {
    // height: 60px;
    padding: ((60px - 14px) / 2) 0;
    background-color: #e8ebee;
}

.copyright__text {
    color: #b7babe;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-align: center;
}